<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<link rel="stylesheet" href="/static/css/style.css">
<script src="/static/script.js"></script>

<body>
    <h1>Welcome to the Chat App</h1>
    <form action="/" method="POST">
        <input type="text" name="room_code" placeholder="Enter Room Code">
        <button type="submit">Join</button>
    </form>
</body>
</html>

